.titleFont{
    font-size: 3rem;
    font-weight: 700;
}


.card {
    width: 20rem;

    padding: 3rem;
    border : 2px black solid ;
}



@media screen and (width < 600px){
    .card {
        width : 90%;
    }
}